@import "src/style/styles";

.paper-form {
  @include size(70vw, 90vh);
  margin-top: 5vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  overflow-y: auto;
  background-color: $light1;
  color: $fontColor;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;

    .title {
      text-align: center;
      padding: 5px;
    }
  }
}

.description {
  margin: 10px;
  padding-top: 5px;
  font-weight: bold;
  border-top: 1px solid $fontColor;
}

.section-lice {
  margin: 10px;
}

.input-autorsko-delo {
  margin: 5px 10px;
}

.submit-item {
  display: flex;
  justify-content: flex-end;
  height: 5vh;
  margin: 20px;

  .submit-button {
    @include buttonStyle();
    width: 20%;
  }
}

.button-add-remove {
  @include buttonStyle();
  width: 20%;
  margin: 10px;
  height: 5vh;
}

