<div class="kontakt-podaci">
  <div class="input-podatak">
    Telefon:
    <mat-form-field appearance="fill">
      <input matInput placeholder="065/222-4444">
    </mat-form-field>
  </div>
  <div class="input-podatak">
    Email:
    <mat-form-field appearance="fill">
      <input matInput placeholder="mika@gmail.com">
    </mat-form-field>
  </div>
  <div class="input-podatak">
    Faks:
    <mat-form-field appearance="fill">
      <input matInput placeholder="125/7517444">
    </mat-form-field>
  </div>
</div>
