@import "src/style/styles";

.full-height {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.page{
  @include size(100vw, 100vh);
  position: fixed;
  display: flex;
  justify-content: center;
}

