
<div style="overflow-y:scroll; height: 100%;">
  <h1 class="title">ZAHTEVI ZA UNOŠENJE U EVIDENCIJU I DEPONOVANJE AUTORSKIH DELA</h1>

  <div class="section">
    <div class="title">Pretraga zahteva po metapodacima</div>
    <app-metadata-search (searchResult)="getAutorskaDelaFromResponse($event)"></app-metadata-search>  
  </div> 
  <div class="section"> 
    <div class="title">Pretraga zahteva po tekstu</div>
    <app-text-search (searchResult)="getAutorskaDelaFromResponse($event)"></app-text-search>  
  </div>

  <div class="section">    
    <div class="title">Pregled zahteva</div>
    <div *ngIf="!this.gettingDataFinished" class="processing_container">
      <p class="processing_text">Dobavljanje podataka...</p>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="this.gettingDataFinished && !this.isEmptySource">
      <div>
        <table #matTabel mat-table [dataSource]="dataSource" matSort class="table-users">

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No.</th>
            <td mat-cell *matCellDef="let i = index">{{i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="delo">
            <th mat-sort-header="delo" *matHeaderCellDef> delo</th>
            <td mat-cell *matCellDef="let element"> {{element.autorskoDelo.identifikator.naslov}} </td>
          </ng-container>

          <ng-container matColumnDef="podnosilac">podnosilac
            <th mat-sort-header="podnosilac" *matHeaderCellDef> podnosilac</th>
            <td mat-cell *matCellDef="let element"> {{element.podnosilacNaziv}} </td>
          </ng-container>

          <ng-container matColumnDef="datum podnošenja">
            <th mat-sort-header="datum podnošenja" *matHeaderCellDef>datum podnošenja </th>
            <td mat-cell *matCellDef="let element"> {{element.datumPodnosenja}}</td>
          </ng-container>

          <ng-container matColumnDef="prikaz">
            <th mat-sort-header *matHeaderCellDef> prikaz</th>
            <td mat-cell *matCellDef="let element">
              <button class="button-evaluate" (click)="openPatenDetailView(element)">prikaz
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="rešenje" *ngIf="isSluzbenik">
            <th mat-sort-header *matHeaderCellDef>podnesi resnje</th>
            <td mat-cell *matCellDef="let element">
              <button class="button-evaluate" *ngIf="element.status === 'neobradjen'" (click)="openResenje(element)">resenje
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="pdf" *ngIf="isSluzbenik">
            <th mat-sort-header *matHeaderCellDef>preuzmi pdf</th>
            <td mat-cell *matCellDef="let element">
              <button class="button-evaluate">pdf
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="html" *ngIf="isSluzbenik">
            <th mat-sort-header *matHeaderCellDef>preuzmi html</th>
            <td mat-cell *matCellDef="let element">
              <button class="button-evaluate">html
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="rdf" *ngIf="isSluzbenik">
            <th mat-sort-header *matHeaderCellDef>preuzmi rdf</th>
            <td mat-cell *matCellDef="let element">
              <button class="button-evaluate" (click)="downloadRdf(element.id)">rdf
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="json" *ngIf="isSluzbenik">
            <th mat-sort-header *matHeaderCellDef>preuzmi json</th>
            <td mat-cell *matCellDef="let element">
              <button class="button-evaluate" (click)="downloadJson(element.id)">json
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>

    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements"
                   #paginator
                   class="paginator" *ngIf="this.gettingDataFinished && !this.isEmptySource">
    </mat-paginator>

  </div>
