$dark1:#3B6979;
$dark2:#488092;
$dark3:#7AAAB7;
$light1:#efefe7;
$light2:#ECE8DD;
$light3:#E7E0D2;
$medium1:#9CB9BC;
$medium2:#BFC8C1;
$medium3:#E1D7C6;
$fontColor:#223B44;
$fontColor1:#15252A;
$backgroundColor:#f7f7f7;
