@import "constants";
@import "mixin";

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: $error_color !important;
}

::ng-deep  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: $error_color !important;
}

::ng-deep .mat-error {
  color: $error_color !important;
  font-size: 12px !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
  color: $error_color !important;
}
