<div class="description">
  <p class="polje">Polje broj VIII</p>
  <p class="subtitle">ZAHTEV ZA PRIZNANJE PRAVA PRVENSTVA IZ RANIJIH PRIJAVA:</p>
</div>
<table class="table-prijava">
  <thead>
  <tr>
    <th>Datum podnošenja ranije prijave</th>
    <th>Broj ranije prijave</th>
    <th>Dvoslovna oznaka države, regionalne ili međunarodne organizacije</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let field of fieldArray; let i = index">
    <td>
      <mat-form-field appearance="outline" class="text-input">
        <textarea matInput></textarea>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline" class="text-input">
        <textarea matInput></textarea>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline" class="text-input">
        <textarea matInput class="text-input"></textarea>
      </mat-form-field>
    </td>
    <td>
      <button *ngIf="field" class="button" type="button" (click)="deleteFieldValue(i)">Delete</button>
      <button *ngIf="!field" class="button" type="button" (click)="addFieldValue()">Add</button>
    </td>
  </tr>
  <tr [formGroup]="prijavaItem">
    <td>
      <mat-form-field appearance="outline" class="text-input">
        <textarea matInput formControlName="datumPodnosenja"></textarea>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline" class="text-input">
        <textarea matInput formControlName="brojPrijave"></textarea>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline" class="text-input">
        <textarea matInput formControlName="oznakaDrzave"></textarea>
      </mat-form-field>
    </td>
    <td>
      <button class="button" type="button" (click)="addFieldValue()">Add</button>
    </td>
  </tr>
  </tbody>
</table>
