@import "src/style/styles";

.description {
  margin: 10px;
  padding-top: 5px;
  font-weight: bold;
  border-top: 1px solid $fontColor;
  display: flex;
  justify-content: flex-start;

  .polje {
    padding-top: 10px;
  }

  .subtitle {
    margin-left: 40px;
    padding-top: 10px;
  }
}

.input-prijava {
  margin: 0 20px;
}

.table-prijava {
  margin: 0 20px;
  border: 1px solid $fontColor;
}

td {
  border: 1px solid $fontColor;
}

.button{
  @include buttonStyle();
}
