<div class="login-page-contaier">
    <div class="login-form-container">
        <p class="form_tittle">Dobrodošli</p>

    <form class="input-fields-container" [formGroup]="this.loginForm"
      (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Unesite email</mat-label>
        <input matInput
          placeholder="pat@example.com"
          required
          formControlName="email">
        <mat-error>Email je obaveyan u formatu 'pat@example.com</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label >Unesite lozinku</mat-label>
        <input matInput
          [type]="hide ? 'password' : 'text'"
          required
          ngModel
          formControlName="password">
        <button class="icon" mat-icon-button matSuffix (click)="hide= !hide"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>Lozinka je obavezna</mat-error>
      </mat-form-field>

      <div class="button-container">
        <button mat-button [disabled]="this.loginForm.invalid"
                [ngClass] = "{'disable-login-button': this.loginForm.invalid,  'login-button': !this.loginForm.invalid}"
                type="submit">Prijavi se</button>
      </div>

    </form>
    <div class="sign_up_text">
        <p>
          Nemate nalog? &nbsp;
        </p>
        <a routerLink="/register" href="/anon/register" class="sign_up_link">
          Kreirajte ga
        </a>
      </div>
    </div>
</div>
