<div class="paper-form">
  <div class="header">
    <h1 class="title">ZAHTEV ZA PRIZNANJE ŽIGA</h1>
    <h4 class="title">Zavodu za intelektualnu svojinu, Kneginje Ljubice 5, 11000 Beograd</h4>
  </div>
  <form [formGroup]="this.zigForm">
    <div>
      <p class="description">1. Podnosilac prijave:</p>
      <div *ngFor="let num of this.brojPodnosiocaPrijave">
        <app-form-izbor-lica (formReady)="addChildForm('podnosilacPrijave'+num, $event)"
                             liceOdredjenje="podnosilacPrijave"></app-form-izbor-lica>
        <app-form-adresa [drzava]="true" (formReady)="addChildForm('podnosilacPrijaveAdresa'+num, $event)"></app-form-adresa>
        <app-form-kontakt-podaci [faks]="true"
          (formReady)="addChildForm('podnosilacPrijaveKontaktPodaci'+num, $event)"></app-form-kontakt-podaci>
      </div>
      <button type="button" class="button-add-remove" (click)="addPodnosiocPrijave()">Dodaj podnosioca</button>
      <button type="button" class="button-add-remove" (click)="removePodnosiocPrijave()">Obriši podnosioca</button>
    </div>
    <div [formGroup]="form">
      <p class="description">2. Punomoćnik:</p>
      <app-form-izbor-lica (formReady)="addChildForm('punomocnik', $event)"
                           liceOdredjenje="punomocnik"></app-form-izbor-lica>
      <app-form-adresa [drzava]="true" (formReady)="addChildForm('punomocnikAdresa', $event)"></app-form-adresa>
      <app-form-kontakt-podaci [faks]="true" (formReady)="addChildForm('punomocnikKontaktPodaci', $event)"></app-form-kontakt-podaci>
    </div>
    <div>
      <p class="description">3. Zajednički predstavnik:</p>
      <app-form-adresa [drzava]="true" (formReady)="addChildForm('zajednickiPredstavnikAdresa', $event)"></app-form-adresa>
      <app-form-kontakt-podaci [faks]="true" (formReady)="addChildForm('zajednickiPredstavnikKontaktPodaci', $event)"></app-form-kontakt-podaci>
    </div>
    <div>
      <app-form-znak (formReady)="addChildForm('znak', $event)" (toggleEvent)="addNumber($event)"
                     (toggle)="toggle"></app-form-znak>
    </div>
    <div [formGroup]="form">
      <p class="description">10. Zatraženo pravo prvenstva i osnov:</p>
      <mat-form-field appearance="fill" class="input-zig">
        <input matInput formControlName="pravoPrvenstvaIOsnov">
      </mat-form-field>
    </div>
    <div>
      <p class="description">11. Plaćene takse:</p>
      <app-form-takse (formReady)="addChildForm('takse', $event)"></app-form-takse>
    </div>

    <div [formGroup]="form">
      <p class="description">12. Prilozi:</p>
      <div class="input-zig">
        <span class="text">Primerak znaka:</span>
        <button class="button-add-remove" >
          <span>Dodaj opis</span>
          <input #primerakZnakaInput type="file" accept="image/*" formControlName="primerakZnaka"  (change)="uploadPrilog(primerakZnakaInput, prilogTypes.PRIMERAK_ZNAKA)">
        </button>
      </div>
      <div class="input-zig">
        <span class="text">Spisak robe i usluga:</span>
        <button class="button-add-remove" >
          <span>Dodaj primer</span>
          <input #spisakRobeIUslugaInput type="file" accept="image/*" formControlName="spisakRobeIUsluga" (change)="uploadPrilog(spisakRobeIUslugaInput, prilogTypes.SPISAK_ROBE_I_USLUGA)">
        </button>
      </div>
      <div class="input-zig">
        <span class="text">Opšti akt o kolektivnom žigu-žigu garancije:</span>
        <button class="button-add-remove" >
          <span>Dodaj opis</span>
          <input #opstiAktInput type="file" accept="image/*" formControlName="opstiAkt"  (change)="uploadPrilog(opstiAktInput, prilogTypes.OPSTI_AKT)">
        </button>
      </div>
      <div class="input-zig">
        <span class="text">Dokaz o pravu prvenstva:</span>
        <button class="button-add-remove" >
          <span>Dodaj primer</span>
          <input #dokazOPravuPrvenstvaInput type="file" accept="image/*" formControlName="dokazOPravuPrvenstva" (change)="uploadPrilog(dokazOPravuPrvenstvaInput, prilogTypes.DOKAZ_O_PRAVU_PRVENSTVA)">
        </button>
      </div>
      <div class="input-zig">
        <span class="text">Dokaz o uplati takse:</span>
        <button class="button-add-remove" >
          <span>Dodaj opis</span>
          <input #dokazTakseInput type="file" accept="image/*" formControlName="dokazOUplatiTakse"  (change)="uploadPrilog(dokazTakseInput, prilogTypes.DOKAZ_O_UPLATI_TAKSE)">
        </button>
      </div>
      <div class="input-zig">
        <div>
          <span class="text">Punomocje:</span>
          <section class="section-lice" [formGroup]="punomocjePrilog">
            <mat-radio-group formControlName="nacinPunomocja" >
              <mat-radio-button [checked] value="Punomocje">Punomoćje</mat-radio-button>
              <mat-radio-button value="Punomocje_ranije_prilozeno">Punomoćje ranije priloženo</mat-radio-button>
              <mat-radio-button value="Punomocje_naknadno_dostavljeno">Punomoćje naknadno dostavljeno</mat-radio-button>
            </mat-radio-group>
          </section>
        </div>
        <button class="button-add-remove" >
          <span>Dodaj primer</span>
          <input #punomocjeInput type="file" accept="image/*" formControlName="punomocje" (change)="uploadPrilog(punomocjeInput, prilogTypes.PUNOMOCJE)">
        </button>
      </div>
    </div>

    <div class="submit-item">
      <button class="submit-button" type="submit" (click)="onSubmit()">Pošalji zahtev</button>
    </div>
  </form>

  <div>
    <button (click)="openDialogResenje()">Resenje</button>
  </div>
</div>
