<div class="paper-form">
  <div class="header">
    <h1 class="title">ZAHTEV ZA PRIZNANJE ŽIGA</h1>
    <h4 class="title">Zavodu za intelektualnu svojinu, Kneginje Ljubice 5, 11000 Beograd</h4>
  </div>
  <form [formGroup]="this.zigForm">
    <div> <p class="description">1. Podnosilac prijave:</p>
      <section class="section-lice">
        <mat-radio-group formControlName="podnosilacPrijave">
          <mat-radio-button [checked]="true" value="TFizicko_lice">Fizicko lice</mat-radio-button>
          <mat-radio-button value="TPravno_lice">Pravno lice</mat-radio-button>
        </mat-radio-group>
      </section>
      <div *ngIf="zigForm.value.podnosilacPrijave === 'TFizicko_lice'">
        <app-form-fizicko-lice></app-form-fizicko-lice>
      </div>
      <div *ngIf="zigForm.value.podnosilacPrijave === 'TPravno_lice'">
        <app-form-pravno-lice></app-form-pravno-lice>
      </div>
      <app-form-adresa></app-form-adresa>
      <app-form-kontakt-podaci></app-form-kontakt-podaci>
      </div>
    <div> <p class="description">2. Punomoćnik:</p>
      <section class="section-lice">
        <mat-radio-group formControlName="punomocnik">
          <mat-radio-button value="TFizicko_lice">Fizicko lice</mat-radio-button>
          <mat-radio-button [checked]="true" value="TPravno_lice">Pravno lice</mat-radio-button>
        </mat-radio-group>
      </section>
      <div *ngIf="zigForm.value.punomocnik === 'TFizicko_lice'">
        <app-form-fizicko-lice></app-form-fizicko-lice>
      </div>
      <div *ngIf="zigForm.value.punomocnik === 'TPravno_lice'">
        <app-form-pravno-lice></app-form-pravno-lice>
      </div>
      <app-form-adresa></app-form-adresa>
      <app-form-kontakt-podaci></app-form-kontakt-podaci>
    </div>
    <div>
      <app-form-znak></app-form-znak>
    </div>
    <div>
      <p class="description">10. Zatraženo pravo prvenstva i osnov:</p>
      <mat-form-field appearance="fill" class="input-zig">
        <input matInput>
      </mat-form-field>
    </div>
    <div>
      <p class="description">11. Plaćene takse:</p>
      <app-form-takse></app-form-takse>
    </div>

    <div class="submit-item">
      <button class="submit-button" type="submit" (click)="onSubmit()">Pošalji zahtev</button>
    </div>
  </form>
</div>
