<div class="menu-container" id="menuDiv">
  <div class="close_button">
    <button mat-icon-button (click)="colapseMenu()">
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>

  <div class="profile_options">
    <mat-selection-list #menuItems [multiple]="false">
      <div>Podnošenje zahteva</div>
      <div class="menu_item">
        <mat-icon class="menu_item_icon">perm_identity</mat-icon>
        <mat-list-option (click)="openFormAutorskoDelo()">
          Autorsko delo
        </mat-list-option>
      </div>
      <div class="menu_item">
        <mat-icon class="menu_item_icon">lock</mat-icon>
        <mat-list-option (click)="openFormPatent()">
          Patent
        </mat-list-option>
      </div>
      <div class="menu_item">
        <mat-icon class="menu_item_icon">lock</mat-icon>
        <mat-list-option (click)="openFormZig()">
          Zig
        </mat-list-option>
      </div>
      <div class="delimiter"></div>
      <div class="menu_item">
        <mat-icon class="menu_item_icon">exit_to_app</mat-icon>
        <mat-list-option>
          Odjava
        </mat-list-option>
      </div>

    </mat-selection-list>
  </div>
</div>
<div id="collapsedMenu" class="open_menu_button">
  <button mat-icon-button (click)="openMenu()">
    <mat-icon>list</mat-icon>
  </button>
</div>


