<div class="autor" [formGroup]="form">
  <div class="input-autor">
    <div class="input-autorsko-delo">
      Pseudonim ili znak autora, (ako ga ima):
      <mat-form-field appearance="fill">
        <input matInput formControlName="pseudonim" (change)="emitForm()">
      </mat-form-field>
    </div>
    <div class="input-autorsko-delo">
      Godina smrti:
      <mat-form-field appearance="fill">
        <input matInput formControlName="godinaSmrti" (change)="emitForm()">
      </mat-form-field>
    </div>
  </div>
  <div class="autor-izbor">
    <section class="checkbox">
      <mat-checkbox formControlName="primarniAutor"  (change)="emitForm()">Primarni autor</mat-checkbox>
      <mat-checkbox formControlName="anonimniAutor"  (change)="emitForm()">Anonimni autor</mat-checkbox>
    </section>
  </div>
</div>
