<div class="adresa">
  <div class="row">
    <div class="input-adresa">
      Ulica:
      <mat-form-field appearance="fill">
        <input matInput placeholder="Somborska">
      </mat-form-field>
    </div>
    <div class="input-adresa">
      Broj:
      <mat-form-field appearance="fill">
        <input matInput placeholder="13">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="input-adresa">
      Grad:
      <mat-form-field appearance="fill">
        <input matInput placeholder="Novi Sad">
      </mat-form-field>
    </div>
    <div>
      Poštanski broj:
      <mat-form-field appearance="fill">
        <input matInput placeholder="21000">
      </mat-form-field>
    </div>
    <div>
      Država:
      <mat-form-field appearance="fill">
        <input matInput placeholder="Republika Srbija">
      </mat-form-field>
    </div>
  </div>
</div>
