<div>
  <div>
    <div>4. Prijava se podnosi za:
      <div>
        <section>
          <mat-radio-group formControlName="vrstaNaOsnovuKorisnika">
            <mat-radio-button [checked]="true" value="individualni zig">individualni zig</mat-radio-button>
            <mat-radio-button value="kolektivni zig">kolektivni zig</mat-radio-button>
            <mat-radio-button value="zig garancije">zig garancije</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
      <div>
        <section>
          <mat-radio-group formControlName="vrstaNaOsnovuIzgleda">
            <mat-radio-button [checked]="true" value="verbalni zig">verbalni znak (znak u reči)</mat-radio-button>
            <mat-radio-button value="grafički zig">grafički znak; boja, kombinacija boja</mat-radio-button>
            <mat-radio-button value="kombinovani znak">kombinovani znak</mat-radio-button>
            <mat-radio-button value="trodemenzionalni znak">trodemenzionalni znak</mat-radio-button>
            <mat-radio-button value="drugo">drugu vrstu znaka (navesti koju)</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
    </div>
  </div>
  <div>
    Izgled znaka
  </div>
  <div>
    5. Naznačenje boje, odnosno boja iz kojih se znak sastoji:
  </div>
  <div>
    6. Transliteracija znaka*:
    <p>*Popuniti samo ako je znak ili element znaka ispisan slovima koja nisu ćirilična ili latinična</p>
  </div>
  <div>
    7. Prevod znaka*:
    <p>*Popuniti samo ako je znak ili element znaka ispisan slovima koja nisu ćirilična ili latinična</p>
  </div>
  <div>
    8. Opis znaka:
  </div>
</div>
