<div class="resenje-dialog" [formGroup]="form">
  <div class="title">
    <p>Rešenje</p>
  </div>
  <div class="choose">
    <section class="resnje-izbor">
      Da li želite zahtev {{data.id}} da:
      <mat-radio-group formControlName="resenje">
        <mat-radio-button [checked]="true" value="TOdobren">Odobri</mat-radio-button>
        <mat-radio-button value="TOdbijen">Odbi</mat-radio-button>
      </mat-radio-group>
    </section>
    <div class="input">
      Šifra:
      <mat-form-field appearance="fill" [formGroup]="formField" *ngIf="data.type !== 'PATENT'">
        <input matInput formControlName="sifra" [placeholder]="placeholder">
        <mat-error>Šifra nije u ispravnom formatu</mat-error>
      </mat-form-field>
      <span *ngIf="data.type === 'PATENT'">{{this.data.id}} (dodeljivanje šifre se vrši automatski)</span>
    </div>
    <div *ngIf="form.value.resenje === 'TOdbijen'" class="input">
      Obrazloženje:
      <mat-form-field appearance="fill" [formGroup]="formField">
        <input matInput formControlName="obrazlozenje">
      </mat-form-field>
    </div>
  </div>
  <div class="submit-item">
    <button class="submit-button" type="submit" (click)="onSubmit()">Podnesi rešenje</button>
  </div>
</div>
