<div>
  <div class="taksa">
    <p class="description">Iznos osnovne takse:</p>
    <mat-form-field appearance="fill" required>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="taksa">
    <p class="description">Iznos takse za klase robe i usluge:</p>
    <mat-form-field appearance="fill">
      <input matInput>
    </mat-form-field>
  </div>
  <div class="taksa">
    <p class="description">Iznos takse za graficko resenje:</p>
    <mat-form-field appearance="fill">
      <input matInput>
    </mat-form-field>

  </div>
</div>
