<div class="autor">
    <div class="input-autor">
      <div class="input-autorsko-delo">
        Pseudonim ili znak autora, (ako ga ima):
        <mat-form-field appearance="fill">
          <input matInput readonly="true" value={{lice.pseudonim}}>
        </mat-form-field>
      </div>
      <div class="input-autorsko-delo">
        Godina smrti:
        <mat-form-field appearance="fill">
          <input matInput readonly="true" value={{lice.godinaSmrti}}>
        </mat-form-field>
      </div>
    </div>
    <div class="autor-izbor">
      <section class="checkbox">
        <mat-checkbox readonly="true" [checked]="lice.primarni">Primarni autor</mat-checkbox>
        <mat-checkbox readonly="true" [checked]="!lice.anonimni">Anonimni autor</mat-checkbox>
      </section>
    </div>
  </div>