<div class="kontakt-podaci">
    <div class="input-podatak">
      Telefon:
      <mat-form-field appearance="fill">
        <input matInput readonly="true" value={{kontakt.telefon}}>
      </mat-form-field>
    </div>
    <div class="input-podatak">
      Email:
      <mat-form-field appearance="fill">
        <input matInput readonly="true" value={{kontakt.email}}>
      </mat-form-field>
    </div>
    <div class="input-podatak">
      Faks:
      <mat-form-field appearance="fill">
        <input matInput readonly="true" value={{kontakt.faks}}>
      </mat-form-field>
    </div>
  </div>